@import url(./root/root.css);
@import url(./root/reset.css);

body{
    background-image: url(/assets/img/Forma\ 1.svg);
}

.background{
    display: flex;
    flex-direction: column;
}
.footer{
    color: var(--white);
}
.content{
    text-align: right; 
    flex-grow: 1;
    height: 80vh;
    
} 
.content__description{
    text-align: center;
    color: var(--light-blue);
    margin: auto;
    padding: 1em;
    line-height: 21px;
    width: 50%;
}

.animals{
    display: flex;
    justify-content: space-around;
    margin: 2em auto;
    padding: 2em;
    background-color: rgba(246, 246, 246, 0.3) ;    
}
.animals-title{
    font-size: 16px;
    color: #3772FF;
    text-align: left;
}

.animals-text{
    color: #737380;
    text-align:left;
    padding: 1em 0;
}

.contact-location{
    font-size: 12px;

}

.contact-button{
    text-decoration: none;
    font-size: 10px;    
}
.contact-click{
    position: relative;
    top: 7px;
    padding: 0 1em;
}

.contact-button:hover{
    font-size: 12px;
    color: #36D6AD;
    transition: 200ms;
}


