@import url(./root/root.css);

.background{
    display: flex;
    flex-direction: column;
}

.content{
    text-align: center;
    flex-grow: 1;
    height: 80vh;
}

.content__description{
    color: var(--light-blue);
    padding: 1em;
    line-height: 21px;
}

.content__text{
    padding: 0.5em 0;
}