@import url(./root/root.css);

.background{
    display: flex;
    flex-direction: column;
}
.header__ilustracao{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
}
.patas-tablet{
    display: none;
}
.footer{
    color: var(--white);
}
.content{
    text-align: center;
    flex-grow: 1;
    height: 80vh;
} 
.content__description{
    color: var(--light-blue);
    padding: 1em;
    line-height: 21px;
}
.content__text{
    padding: 0.5em 0;
}
.reg-form{
    margin: 0.5rem auto;
    width: 95%;
    text-align: center;
}
.input-box{
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}
.input-box label{
    padding: 0.5rem;
    font-weight: 400;
    color: #737380;
}
.input-box input{
    padding: 1em 0;
    background-color: #F6F6F6;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    text-align: center;
}
.submit__button{
    margin-top: 3rem;
}
.reg-form__button{
    text-decoration: none;
    background: var(--light-red);
    color: var(--white);
    padding: 0.5rem 1rem;
    font-weight: 600;
    border-radius: 6px;
    text-align: center;
    width: 50%;
}

@media screen and (min-width: 1024px) {

    .content{
        height: 100vh;
    }
    .header__ilustracao{
        display: none;
    }
    .patas-tablet{
        display: block;
    }
    .content{
        margin:3em 7em;
    }
    .reg-form{
        align-items: center;
        width: 70%;
    }


    
    
}

